@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Lab 3 - Transferring Data from Controller to View</h1>
</div>

<ul>
    <li><a href="/Home/DetailsViewData">Task 1: ViewData</a></li>
    <li><a href="/Home/DetailsViewBag">Task 2: ViewBag</a></li>
    <li><a href="/Home/DetailsTyped">Task 3: Strongly Typed View</a></li>
    <li><a href="/Student/Details">Task 4: ViewModel</a></li>
    <li><a href="/Home/TempDataIndex">Task 5: TempData</a></li>
    <li><a href="/Home/TempDataComplex">Task 5c: TempData Complex Object</a></li>
</ul>
